# Question 1

Which tag has the following text? - *Automatically remove the container when it exits* 

- `--delete`
- `--rc`
- `--rmc`
- **`--rm`**   

> `--rm`

# Question 2 
What is version of the package *wheel* ?

- **0.42.0**
- 1.0.0
- 23.0.1
- 58.1.0


> ➜ 
```bash
2_docker_sql git:(main) ✗ docker run -it test:python    
root@3613429a5709:/# pip list
Package    Version
---------- -------
pip        23.0.1
setuptools 58.1.0
wheel      0.42.0
```

> `0.42.0`

## Prepare Postgres

### Get to know the data

```bash 
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
```

In [1]:
import sqlalchemy
from time import time
import pandas as pd

In [35]:
engine = sqlalchemy.create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [36]:
ny_taxi = pd.read_csv("green_tripdata_2019-09.csv", nrows=100) 
ny_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

In [37]:
ny_taxi.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [38]:

def change_columns_to_timestamp(df):
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    return df

ny_taxi = change_columns_to_timestamp(ny_taxi)

In [39]:
print(pd.io.sql.get_schema(ny_taxi, name="green_taxi_data",con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

### Create connection and upload to pg

In [40]:
ny_taxi_iter = pd.read_csv("green_tripdata_2019-09.csv", iterator=True, chunksize=100000)

In [41]:
ny_taxi.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [45]:

while True:
    t_start = time()

    ny_taxi = next(ny_taxi_iter)

    ny_taxi.lpep_dropoff_datetime = pd.to_datetime(ny_taxi.lpep_dropoff_datetime)
    ny_taxi.lpep_pickup_datetime = pd.to_datetime(ny_taxi.lpep_pickup_datetime)

    ny_taxi.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    
    t_end = time()

    print("Inserted new chunk, took %.3f second" % (t_end - t_start))

StopIteration:

In [48]:
taxi_zone = pd.read_csv("taxi+_zone_lookup.csv")

In [49]:
taxi_zone.to_sql(name="taxi_zones", con=engine, if_exists="replace")

265

## Question 3 


How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- *15612*
- 15859
- 89009,

```sql
SELECT COUNT(*) 
FROM green_taxi_data
WHERE lpep_dropoff_datetime BETWEEN '2019-09-18' AND '2019-09-18 23:59:59'
AND  lpep_pickup_datetime BETWEEN '2019-09-18' AND '2019-09-18 23:59:59'
```

> 15612

## Question 4

Which was the pick up day with the largest trip distance
Use the pick up time for your calculations.

- 2019-09-18
- 2019-09-16
- **2019-09-26**
- 2019-09-21

```sql
SELECT   date_trunc('day', lpep_pickup_datetime), MAX(trip_distance) AS max_trip
FROM green_taxi_data
GROUP BY date_trunc('day', lpep_pickup_datetime)
ORDER BY max_trip DESC
LIMIT 1
```

| "date_trunc"	| "max_trip"| 
|----|----|
 |"2019-09-26 00:00:00"	|341.64|

## Question 5

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
 
- **"Brooklyn" "Manhattan" "Queens"**
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens" 
- "Brooklyn" "Queens" "Staten Island"

```sql
SELECT DropOff."Borough" as Borough, COUNT(*) as nb_trips, SUM(trips.total_amount) as sum_total_amount
FROM green_taxi_data trips
LEFT JOIN taxi_zones DropOff ON DropOff."LocationID"= trips."DOLocationID"

WHERE trips.lpep_pickup_datetime BETWEEN '2019-09-18' AND '2019-09-19' 
AND DropOff."Borough" != 'Unknown'


GROUP BY Borough
ORDER BY nb_trips DESC
```


|"borough"	|"nb_trips"	|"sum_total_amount"|
|---|---|---|
|"Manhattan"|	6038|	110317.89999999918|
|"Queens"|	4294|	76881.24999999916|
|"Brooklyn"|	3873|	77096.2999999996|


## Question 6. Largest tip

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

```sql
SELECT DropOff."Zone" as DO_Zone, COUNT(*) as nb_trips, MAX(trips.tip_amount) as max_tip
FROM green_taxi_data trips
LEFT JOIN taxi_zones DropOff ON DropOff."LocationID" = trips."DOLocationID"
LEFT JOIN taxi_zones Pickup ON Pickup."LocationID"= trips."PULocationID"

WHERE trips.lpep_pickup_datetime BETWEEN '2019-09-01' AND '2019-09-30' 
AND Pickup."Zone"= 'Astoria'

GROUP BY DO_Zone
ORDER BY max_tip DESC
LIMIT 1 
```

JFK 62.31


## Terraform

In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. 
Copy the files from the course repo
[here](https://github.com/DataTalksClub/data-engineering-zoomcamp/tree/main/01-docker-terraform/1_terraform_gcp/terraform) to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.


## Question 7. Creating Resources

After updating the main.tf and variable.tf files run:

```
terraform apply
```

Paste the output of this command into the homework submission form.

```bash
terraform apply

Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.demo_dataset will be created
  + resource "google_bigquery_dataset" "demo_dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "ny_dataset"
      + default_collation          = (known after apply)
      + delete_contents_on_destroy = false
      + effective_labels           = (known after apply)
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + is_case_insensitive        = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "EU"
      + max_time_travel_hours      = (known after apply)
      + project                    = "eighth-veld-411323"
      + self_link                  = (known after apply)
      + storage_billing_model      = (known after apply)
      + terraform_labels           = (known after apply)
    }

  # google_storage_bucket.demo-bucket will be created
  + resource "google_storage_bucket" "demo-bucket" {
      + effective_labels            = (known after apply)
      + force_destroy               = true
      + id                          = (known after apply)
      + location                    = "EU"
      + name                        = "eighth-veld-411323-bucket"
      + project                     = (known after apply)
      + public_access_prevention    = (known after apply)
      + self_link                   = (known after apply)
      + storage_class               = "STANDARD"
      + terraform_labels            = (known after apply)
      + uniform_bucket_level_access = (known after apply)
      + url                         = (known after apply)

      + lifecycle_rule {
          + action {
              + type = "AbortIncompleteMultipartUpload"
            }
          + condition {
              + age                   = 1
              + matches_prefix        = []
              + matches_storage_class = []
              + matches_suffix        = []
              + with_state            = (known after apply)
            }
        }
    }

Plan: 2 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_bigquery_dataset.demo_dataset: Creating...
google_storage_bucket.demo-bucket: Creating...
google_bigquery_dataset.demo_dataset: Creation complete after 2s [id=projects/eighth-veld-411323/datasets/ny_dataset]
google_storage_bucket.demo-bucket: Creation complete after 2s [id=eighth-veld-411323-bucket]

Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
```